build/
cmake-build-*/
out/
*.user
*.autosave
.vs/
.vscode/
CMakeSettings.json
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
!third_party/vosk/README.txt
model/**
!model/README.txt
.DS_Store
moc_*.cpp
ui_*.h
qrc_*.cpp
*_autogen/
